# --- NetBeans / IDE ---
nbproject/private/
build/
dist/*
!dist/Appserena.war
target/
.nb-gradle/

# --- Configuración y Secretos ---
*.properties
*.xml
*.env

# --- Sistema operativo ---
.DS_Store
Thumbs.db